<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <div class="pages-menu">
                    <ul>
                        <li><a id="menuBtn" href="{% if 'courses' in request.path %}{% url 'index' %}{% endif %}#home">Home</a></li>
                        <li><a id="menuBtn" href="{% url 'my_courses' %}">My Courses</a></li>
                        <li><a id="menuBtn" href="{% if 'courses' in request.path %}{% url 'index' %}{% endif %}#portfolio">Portfolio</a></li>
                        <li><a id="menuBtn" href="{% if 'courses' in request.path %}{% url 'index' %}{% endif %}#about">About</a></li>
                        <li><a id="menuBtn" href="{% if 'courses' in request.path %}{% url 'index' %}{% endif %}#contact">Contact</a></li>
                    </ul>
                </div>
                
                <div class="social-menu">
                    <ul class="social-list">
                        <li><a id="menuBtn" href="https://www.linkedin.com/in/matt-stanford/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a id="menuBtn" href="https://github.com/matt-stanford" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
                        <li><a id="menuBtn" href="mailto:mjfstanford@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>