{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- home -->
        
        <section class="showcase" id="home">
            <div class="container showcase-inner">
                {% if messages %}
                    {% for message in messages %}
                        <div class="message-alert">
                            <p>{{ message }}</p>
                            <span class="alert-closeBtn">&times;</span>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1>Matt Stanford</h1>
                <p>Python | Django Full-Stack Developer.</p>
                <div class="button-container">
                    <a href="#portfolio" class="btn btn-primary"><span>Portfolio</span></a>
                    <a href="{% url 'my_courses' %}" class="btn btn-outline"><span>My Courses</span></a>
                </div>
            </div>
        </section>
    
        <!-- portfolio -->
        <section class="portfolio" id="portfolio">
            <div class="container">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
                <div class="row">
                    <div class="card_wrapper">
                        {% for job in jobs %}
                            <div class="card">
                                <img src="{{ job.image.url }}" alt="">
                                <div class="info">
                                    <div>
                                        <h3>{{ job.title }}</h3>
                                        <p>{{ job.short_summary }}</p>
                                    </div>
                                    <div>
                                        <button id="modalBtn" class="btn btn-primary" data-jobId="{{ job.id }}"><span>Read More</span></button>
                                    </div>
                                </div>
                            </div>

                            <!-- modal -->
                            <div id="jobModal{{ job.id}}" class="modal">
                                <div class="modal-content">
                                    <div class="modal-image">
                                        <img src="{{ job.image.url }}" alt="">
                                    </div>
                                    <div class="modal-info">
                                        <div class="project-details">
                                            <h3>Project Details</h3>
                                            <p><strong>Technologies: </strong>{{ job.technology }}</p>
                                            <p><strong>View project: </strong>{% if job.url %}<a href="{{ job.url }}" target="_blank" rel="noopener noreferrer">{{ job.url }}</a>{% else %}n/a{% endif %}</p>
                                            <p><strong>Source code: </strong><a href="{{ job.github_url }}" target="_blank" rel="noopener noreferrer">www.github.com</a></p>
                                        </div>
                                        <div class="project-description">
                                            <h3>Project Description</h3>
                                            <p>{{ job.summary }}</p>
                                        </div>
                                    </div>
                                    <span class="closeBtn" data-jobId="{{ job.id }}">&times;</span>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </section>
    
        <!-- about -->
        <section class="about" id="about">
            <div class="container">
                <div class="section-title">
                    <h2>About Me</h2>
                </div>
                <div class="row">
                    <p>I am an Oxford based full stack developer that will work closely with you to build your idea into a high quality working product.</p>
                    <p>To arrange a free quote for your project, please <a href="#contact">get in touch</a>.</p>
                    <h3>Areas of expertise</h3>
                    <div class="service-feature">
                        <div class="service-image">
                            <img src="{% static 'img/python-icon.png' %}" alt="">
                        </div>
                        <div class="service-image">
                            <img src="{% static 'img/django-icon.png' %}" alt="">
                        </div>
                        <div class="service-image">
                            <img src="{% static 'img/postgresql-icon.png' %}" alt="">
                        </div>
                        <div class="service-image">
                            <img src="{% static 'img/html-icon.png' %}" alt="">
                        </div>
                        <div class="service-image">
                            <img src="{% static 'img/css-icon.png' %}" alt="">
                        </div>
                        <div class="service-image">
                            <img src="{% static 'img/javascript-icon.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- contact -->
        <section class="contact" id="contact">
            <div class="container">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
                <div class="row">
                    <div class="form-wrapper">
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <label class="form-group">
                                <input type="text" name="name" class="form-control" required>
                                <span>Name</span>
                                <span class="border"></span>
                            </label>
    
                            <label class="form-group">
                                <input type="email" name="email" class="form-control" required>
                                <span>Email</span>
                                <span class="border"></span>
                            </label>
    
                            <label class="form-group">
                                <textarea name="message" class="form-control" required></textarea>
                                <span>Message</span>
                                <span class="border"></span>
                            </label>
    
                            <label class="form-group">
                                <div class="button-container">
                                    <button type="submit" class="btn btn-primary" value="Send Your Message"><p class="submit-btn-span">Send Your Message</p></button>
                                </div>
                                
                            </label>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}