{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- courses -->
    <section class="courses" id="courses">
        <div class="container">
            <div class="section-title">
                <h2>Courses</h2>
            </div>

            <div class="row">
                <div class="card_wrapper">
                    {% for course in courses %}
                        <div class="card">
                            <img src="{{ course.image.url }}" alt="">
                            <div class="info">
                                <h3>{{ course.title }}</h3>
                                <p>{{ course.short_summary | safe  }}</p>
                                <button id="modalBtn" class="btn" data-jobId="{{ course.id }}"><span>Read More</span></button>
                            </div>
                        </div>

                        <!-- modal -->
                        <div id="jobModal{{ course.id }}" class="modal">
                            <div class="modal-content courses-modal-content">
                                <div class="modal-image">
                                    <img src="{{ course.image.url }}" alt="">
                                </div>
                                <div class="modal-info">
                                    <div class="project-description">
                                        <h3>Course Description</h3>
                                        <p>{{ course.summary | safe }}</p>
                                        <a href="{{ course.url }}" target="_blank" rel="noopener noreferrer" class="btn"><span class="white-text">View Course</span></a>
                                    </div>
                                </div>
                                <span class="closeBtn" data-jobId="{{ course.id }}">&times;</span>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}