@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #c30928;
    --secondary-color: #46b1c9;
    --tertiary-color: #f7b733;
    --dark-grey: #212121;
    --light-grey: #dfdce3;
    --overlay-color: rgba(17, 21, 23, 0.85);
    --menu-overlay-color: rgba(17, 21, 23, 1);
    --menu-speed: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    height: 100vh;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.white-text {
    color: #fff;
}

@media (min-width: 576px) {
    .container {
        padding: 0 1rem;
    }
}
@media (min-width: 767px) {
    .container {
        max-width: 740px;
        padding: 0 3rem;
    }

    .modal-content {
        margin: 10% auto;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1020px;
        padding: 0 3rem;
    }
}

@media (min-width: 1250px) {
    .container {
        max-width: 1240px;
        padding: 0 3rem;
    }
}

.container {
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 320px;
    height: 360px;
    padding: 2rem 1rem;
    margin: 10px;
    background: #fff;
    position: relative;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.3);
    transition: all 0.5s ease;
    border: 5px solid #f8f8f8;
}

.card:hover {
    transform: translateY(20px);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    /* background: var(--secondary-color); */
    z-index: 2;
    transition: all 0.5s ease;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card h3 {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    color:  var(--dark-grey);
}

.card .info {
    position: relative;
    z-index: 3;
    color: var(--dark-grey);
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 21;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--overlay-color);
}

.modal h3 {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color:  var(--dark-grey);
}

.modal-content {
    overflow-y: auto;
    min-height: 520px;
    max-height: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background: #f8f8f8;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    border: 5px solid #f8f8f8;
    animation-name: modalopen;
    animation-duration: 0.8s;
}

.courses-modal-content {
    max-width: 1400px;
}

.modal-content > * {
  flex: 1 100%;
}

.modal-image {
  position: relative;
  min-height: 300px;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-info {
  padding: 20px;
}

.modal-info p {
    /* border-bottom: 1px solid var(--light-grey); */
    padding: 7px 0px;
}

.modal-info a, .modal-info a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

.modal-info a:hover, .modal-info a:active {
    color: var(--primary-color);
}

.project-details {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 15px;
}

.closeBtn {
    position: absolute;
    right: 10px;
    color: #ccc;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.closeBtn:hover, .closeBtn:focus {
    color: var(--primary-color);
    text-decoration: none;
}

@media all and (min-width: 800px) {
    .modal-image {
      flex: 3;
    }
    
    .modal-info {
      order: 2;
    }
    
    .modal-image {
      order: 1;
    }
  }
  
  @media all and (min-width: 600px) {
    .modal-info {
      flex: 1;
    }
  }

@keyframes modalopen {
    from { opacity: 0;}
    to { opacity: 1;}
}

/* SHOWCASE */

.showcase {
    background-color: var(--overlay-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase::before{
    content: '';
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-family: Oswald, sans-serif;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.showcase p {
    font-size: 1.3rem;
}

/* MESSAGE */

.message-alert {
    position: relative;
    top: -50px;
    background: #f8f8f8;
    max-width: 520px;
    padding: 15px;;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.message-alert > p {
    color: var(--dark-grey);
    font-size: 1rem;
    margin-right: 20px;
}

.alert-closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #ccc;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.alert-closeBtn:hover, .alert-closeBtn:focus {
    color: var(--primary-color);
    text-decoration: none;
}

/* BUTTONS */

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn {
    position: relative;
    display: inline-block;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1.1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 150%;
  background: var(--primary-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-120%) translateY(-25%) rotate(45deg);
  transform: translateX(-120%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* .btn:hover {
    background-image: linear-gradient(45deg, var(--primary-color), #ef1b55);
} */

.submit-btn-span {
    position: relative;
    z-index: 1;
}

.form-group .btn {
    cursor: pointer;
}

/* *** MENU *** */

.menu-wrap {
    position: fixed;
    top: 40px;
    right: 100px;
    z-index: 12;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .toggler:hover + .hamburger > div {
    background-color: var(--primary-color);
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 12;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    /* transform: scale(1); */
    transition-duration: var(--menu-speed);
    opacity: 1;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transform: translateY(0);
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--menu-overlay-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.4s ease;
}

.pages-menu > ul > li {
    list-style: none;
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem;
}

.pages-menu > ul > li > a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    transition: color 0.4s ease;
}

.pages-menu > ul > li > a:hover {
    color: var(--primary-color);
}

.pages-menu {
    padding-bottom: 1.5rem;
}

.social-list {
    display: flex;
    justify-content: space-around;
}

.social-menu {
    border-top: 2px solid #fff;
    padding-top: 1.5rem;
}

.social-list > li {
    list-style: none;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
}

.social-list > li > a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    transition: color 0.4s ease;
}

.social-list > li > a:hover {
    color: var(--primary-color);
}

.section-title {
    padding: 5rem 0 2.5rem 0;
    text-align: center;
}

.about h2 {
    color: var(--dark-grey);
}

.portfolio {
    background-image: linear-gradient(45deg, var(--tertiary-color), #f77f29);
    min-height: 100vh;
}

/* ABOUT */

.about {
    background: #f8f8f8;
}

.about .row {
    flex-direction: column;
}

.about p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.about p:nth-child(2) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--secondary-color);
}

.about h3 {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    color:  var(--dark-grey);
}

.about a, .about a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

.about a:hover, .about a:active {
    color: var(--primary-color);
}

.service-feature {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.service-image {
    width: 100px;
    margin: 25px 10px;
    position: relative;
}

.service-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* CONTACT */

.contact {
    background-image: linear-gradient(45deg, var(--secondary-color), #247ad4);
    min-height: 100vh;
}

.form-wrapper {
    max-width: 95%;
    width: 540px;
    margin: auto;
    padding: 5%;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    background: #fff;
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 48px;
}

.form-group span {
    position: absolute;
    top: 11px;
    color: var(--secondary-color);
    transition: all 0.2s ease;
    transform-origin: 0 0;
    cursor: text;
}

.form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: var(--primary-color);
}

.form-control {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    display: block;
    width: 100%;
    height: 43px;
    background: none;
    font-size: 15px;
}

.form-control:focus, .form-control:valid {
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
}

.form-control:focus + span, .form-control:valid + span {
    transform: translateY(-22px) scale(0.8);
    color: var(--primary-color);
}

.form-control:focus + span + .border, .form-control:valid + span + .border {
    transform: scaleX(1);
}

textarea {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
    resize: none;
}

textarea + span + .border {
    top: 113px !important;
}

/* COURSES */

.courses {
    background-image: linear-gradient(45deg, #6c33f7, #f7297f);
    min-height: 100vh;
}